/* 
Project: pang-events
Author: Franz Noel Tanglao
Version: 1.0.2
*/


/* 
List of colors: 
grand-wormwood: #516333
artemesia: #7eb550;
absinthe: #8edb59;
green-fairy: #aafd6f;
elixir: #d3fc9f;
mint-green: #e5ffe5;

Others: 
border-radius: 3px;
*/


body {
    background-color:#efefef;
}


/* #menu */
#menu {
    /*padding:0.275rem;*/
    background-image:url('/img/events.jpg');
    background-size:cover;
    background-color: #8edb59;
    box-shadow:1px 1px 5px #666666;
    /*min-height:100%;*/
}
#menu .menu-text a {
    color:#ffffff;
    text-shadow:1px 1px 5px #222222;
    font-weight:bold;
}
#menu .menu-text a:hover {
    color:#aafd6f;
}
#menu ul {
    background-color:transparent;
}
#menu .button {
    color:#ffffff;
    text-shadow:1px 1px 5px #222222;
    /* border-radius:3px; */
    /* margin:0 0.275rem 0 0.275rem; */
}
#menu .button.sign-in {
    background-color: #7eb550;
}
#menu .button.sign-up {
    /*background-color: #7eb550;*/
}
#menu .button.sign-in:hover {
    background-color:#8edb59;
}
#menu #displayedUser {
    text-transform:capitalize;
}
#menu .dropdown.menu .is-dropdown-submenu-parent.opens-left .submenu {
    background-color:#ffffff;
    border:1px solid #21cbe8;
    display:block;
    right:0;
}
#menu .dropdown.menu .submenu > li > a:hover {
    background-color:#e5f3fc;
}



/* #content */
#content {
    margin-top:20px;
}

/* #event-list */ 
#event-list {
    padding:0;
    margin:0;
}
#event-list .event {
    border-radius:3px;
    background-color:#ffffff;
    transition:background-color 0.5s ease, border-color 0.5s ease;
}
#event-list .event:hover {
    cursor:pointer;
    background-color: #e5ffe5;
    border:1px solid  #8edb59;
    transition:background-color 0.5s ease, border-color 0.5s ease;
}
#event-list .eventTitle {
    font-size:20px;
    min-height:30px;
    max-height:30px;
}
#event-list .eventHost {
    font-size:12px;
    min-height:20px;
    max-height:20px;
}
#event-list .eventDescription {
    margin:5px 0 0 0;
    min-height:60px;
    max-height:60px;
}
#event-list .eventLocation {
    font-size:12px;
    min-height:20px;
    max-height:20px;
}
#event-list .eventDescription p {
    font-size:14px;
}
#event-list .no-events {
    color:#888888;
    text-shadow:1px 1px 1px #ffffff;
}

/* .custom-font */
.custom-font a {
    font-family: 'Passion One', cursive;
    font-weight: bold;
    color: #8edb59;
    text-shadow:1px 1px 15px #516333;
}
.custom-font .hollow {
    -webkit-text-stroke: 1px  #8edb59;
    -webkit-text-fill-color:#ffffff;
    color: #8edb59;
}


/* #event-category-list */
#event-category {
    border:0 solid #afafaf;
}
#event-category a {
    font-size:12px;
    padding:5px;
    text-align:left;
}
#event-category-list .event-type a:hover {
    background-color:#dddddd; 
}


.label.date, .label.time {
    border-radius:3px;
}


/* #login-panel */
#login-panel {
    border:1px solid #afafaf;
    background-color: #ffffff;
    border-radius:3px;
}
#login-panel .login-buttons .buttons {
    margin:0 0 3px 0;
    border-radius:3px;
}

/* #event-add */
#event-add fieldset {
    background-color:#ffffff;
}

.button.button-login {
    font-size: 1.275rem;
    padding: 10px 3px 10px 3px;
    border-radius: 3px;
}

/* Callouts */
.callout.alert {
    color:#cc0000;
    border:1px solid #cc0000;
    border-radius: 3px;
    padding:2%;
}
.callout.success {
    color:#516333;
    border:1px solid #7eb550;
    border-radius: 3px;
    padding:2%;
}
.callout.errorContainer {
    border-radius:3px;
}

/* Form */
.form-control {
    border-radius:3px;
}
.error-list {
    padding:0 0 0 15px;
}
.note {
    font-size:10px;
}


/* Guest List */
.guest-list {
    padding:0 30px 0 30px;
}



